<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="res/login.css">
</head>
<body>

<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form id="loginForm">
            <center id="notif"></center>
            <center id="user"></center>
			<h1>Sign in</h1><br>
			<input id="email" type="text" placeholder="Email" />
			<input id="password" type="password" placeholder="Password" />
            <br>
			<button>Sign In</button>
		</form>
	</div>
</div>
<script src="res/login.js"></script>
</body>
</html>